[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
voipms = {editable = true, path = "."}

[dev-packages]
pytest = ">=9.1.1"
autopep8 = ">=2.3.2"
build = ">=1.5.0"
twine = ">=6.2.0"

[requires]
python_version = "3.14"
